{% extends "bloglayout.html" %}
{% block content %}
<section id="feature_news_section" class="feature_news_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive top_static_article_img" src="static/img/feature-top.jpg"
                             alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="tag_lg red"><a href="category.html">Latest</a></div>
                        <div class="feature_article_title">
                            <h1><a href="{{ url_for('flask_aws') }}" target="_self">How to Deploy a Flask app to AWS Elastic Beanstalk</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Feb 9, 2019</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            Stories of 5 people who became professional programmers
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_article_wrapper -->
            </div>
            <!-- col-md-7 -->

            <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="static/img/feature-static1.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1><a href="beingblack.html" target="_self">Being Black in a Predominently White Workforce: Opportunity or Obstacle?</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Aug 4, 2019</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            In tech, as in many other industries, the percentage of black employees as an overall percentage of the workforce is embarrasingly low.
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_static_wrapper -->
            </div>
            <!-- col-md-5 -->

            <div class="col-md-5">
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="static/img/feature-static2.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1><a href="{{ url_for('novice_newcomer_to_professional_programmer') }}" target="_self">
                                Novice Newcomer to Professional Programmer</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Mar 9, 2019</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            Stories of 5 people who became professional programmers
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_static_wrapper -->
            </div>
            <!-- col-md-5 -->

            <div class="col-md-12">
              <br>
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="static/img/Rue_saint_martin.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1><a href="single.html" target="_self">Being Black in a Predominently White Workforce: Opportunity or Obstacle?</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Aug 4, 2019</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            In tech, as in many other industries, the percentage of black employees as an overall percentage of the workforce is embarrasingly low.
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_static_wrapper -->
            </div>
            <!-- col-md-12 -->


        </div>
        <!-- Row -->
    </div>
    <!-- container -->
</section>
{% endblock %}
