{% extends "bloglayout.html" %}
{% block content %}
<section id="feature_news_section" class="feature_news_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive top_static_article_img" src="static/img/learn_code.jpg"
                             alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="tag_lg red"><a href="category.html">Latest</a></div>
                        <div class="feature_article_title">
                            <h1><a href="{{ url_for('novice_newcomer_to_professional_programmer') }}" target="_self">
                                Novice Newcomer to Professional Programmer
                            </a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">April 21, 2019</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            These 5 individuals transitioned from completely non-technical backgrounds into roles as
                            full-time software engineers. Read on to learn how they did it, and what advise they'd give
                            to those who want to do the same.
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_article_wrapper -->
            </div>
            <!-- col-md-7 -->

            <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="static/img/python_logo_repeat.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1><a href="" target="_self">How to Deploy a Flask app to AWS Elastic Beanstalk</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Coming Soon</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            So you've made a flask app. Now how do you deploy is using AWS Elastic Beanstalk? Read on
                            for a step-by-step tutorial on getting your app off of your computer and into the world.
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_static_wrapper -->
            </div>
            <!-- col-md-5 -->

            <div class="col-md-5">
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="static/img/feature-static2.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1><a href="" target="_self">
                                The Real Costs (and Benefits?) of Being Black in Tech</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Coming Soon</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            The Real Costs and Benefits of Being Black in Tech
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_static_wrapper -->
            </div>
            <!-- col-md-5 -->

            <div class="col-md-12">
              <br>
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" src="static/img/dev_color_logo.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->
                    <div class="feature_article_inner">
                        <div class="feature_article_title">
                            <h1><a href="" target="_self">DevColor: Successfully supporting black
                                engineers in reaching their goals, or just taking all of the credit?</a></h1>
                        </div>
                        <!-- feature_article_title -->
                        <div class="feature_article_date"><a href="#" target="_self">Coming Soon</a></div>
                        <!-- feature_article_date -->
                        <div class="feature_article_content">
                            Nonprofit DevColor boasts that it helps black software engineers in accomplishing their
                            professional goals, but are they really uplifting black engineers in a measurable way, or
                            just taking all of the credit?
                        </div>
                        <!-- feature_article_content -->
                    </div>
                    <!-- feature_article_inner -->
                </div>
                <!-- feature_static_wrapper -->
            </div>
            <!-- col-md-12 -->


        </div>
        <!-- Row -->
    </div>
    <!-- container -->
</section>
{% endblock %}
