{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="entity_wrapper">
    <div class="entity_title">
        <h1><a href="#">How to Deploy your Python Flask app to AWS Elastic Beanstalk</a></h1>
    </div>
    <!-- entity_title -->

    <div class="entity_meta"><a href="#" target="_self">10Aug- 2015</a>
    </div>
    <!-- entity_meta -->

    <div class="entity_social">
        <a href="#" class="icons-sm sh-ic">
            <i class="fa fa-share-alt"></i>
            <b>424</b> <span class="share_ic">Shares</span>
        </a>
        <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
        <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
        <a href="#" class="icons-sm fb-ic"><i class="fa fa-linkedin-square"></i></a>
    </div>
    <!-- entity_social -->

    <div class="entity_thumb">
        <img class="img-responsive" src="static/img/Rue_saint_martin.jpg" alt="feature-top">
    </div>
    <!-- entity_thumb -->

    <div class="entity_content">
        <p>
            Three years ago, I was a new developer trying (and failing) to deploy my simple
            <a href="https://www.python.org/">Python</a> <a href="http://flask.pocoo.org/">flask</a> application to
            <a href="https://aws.amazon.com/">Amazon Web Services</a>' (AWS)
            <a href="https://aws.amazon.com/elasticbeanstalk/">Elastic Beanstalk</a> (EB). In the process, I stumbled
            across <a href="http://flask.pocoo.org/">this</a> documentation from flask,
            <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-flask.html">this</a>
            documentation from AWS, and
            <a href="https://medium.com/@rodkey/deploying-a-flask-application-on-aws-a72daba6bb80">this</a> blog post
            on how to use them together, all of which were extremely helpful. However, I was so new to development that
            even with these and other helpful online resources, I found the entire process confusing, and I struggled
            to debug the deployment issues that arose during the process. I still run into some of those deployment
            issues when I deploy flask apps to EB today, so I've decided not to let another year go by without creating
            a detailed tutorial on deploying flask apps to EB, complete with examples of common errors that pop up
            during the process, and how to debug those errors. So, with that, let's get push get that flask app our of
            your head and into production!
        </p>
        <br>
        <p>
            <b>Step 1: Make a flask app!</b><br>If you're a true beginner, just getting a flask app up and running
            locally might be a significant feat, much less deploying it to production via EB. However, there are lots
            of truly excellent tutorials online to guide you that are appropriate for even novice programmers, like
            <a href="http://flask.pocoo.org/docs/1.0/tutorial/">this</a> one, which is a part of the official flask
            documentation. Since the focus of this post is on <i>deploying</i> flask apps that you've already created,
            I won't provide a tutorial on creating the apps themselves, but regardless of which tutorial you use and
            what kind of app you create, be sure that your app meets the criteria below. If it doesn't, change it
            before continuing with this tutorial. If you do not follow the instructions below exactly, I gaurantee
            that you will encounter errors that I won't even begin to cover here.
            <ol>
                <li>
                    Your 'application' file, i.e. the the file that contains your main python code (it probably has a
                    line with <code>from flask import Flask</code> at the top of the file), must be called
                    <code>application.py</code>.
                </li>
                <li>
                    Within your application file (which should be named <code>application.py</code>), ensure that the
                    variable that you assign to <code>Flask(__name__)</code> is <code>application</code>, <b>not</b>
                    <code>app</code>. So, you should have a line in a file named <code>application.py</code> with
                    <code>application = Flask(__name__)</code>.
                </li>
                <li>
                    At the end of your application file, before to set the <code>"__name__"</code> attribute equal to
                    <code>"__main__"</code>. So, you should have a small clause at the end of the file that looks
                    something (or exactly) like this:<br>
                    <code>
                        if __name__ == "__main__":<br>
                        &emsp;&emsp;&emsp;&emsp;application.debug = False<br>
                        &emsp;&emsp;&emsp;&emsp;application.run()</code>
                </li>
            </ol>
        </p>
        <br>
        <p>
            <b>Step 2: Make an AWS Account!</b><br><a href="https://aws.amazon.com/">Here's</a> the link to visit to
            create an AWS account. Two notes about setting up an  account:
            <ol>
                <li>
                    If you'd like an overview of all of the steps involved in creating an account,
                    <a href="https://aws.amazon.com/premiumsupport/knowledge-center/create-and-activate-aws-account/">
                        this</a> outlines that process.
                </li>
                <li>
                    You must enter a credit card in order to sign up for an AWS account. How much will you get charged
                    on your credit card when you register? Well that depends on how much you plan on utilizing AWS, but
                    for context, this blog is a flask app that I run on EB, and AWS bills me about $20 per month to
                    keep it up and running.
                </li>
            </ol>
        </p>
    </div>
    <!-- entity_content -->

    <div class="entity_footer">
        <div class="entity_tag">
            <span class="blank"><a href="#">AWS</a></span>
            <span class="blank"><a href="#">Flask</a></span>
            <span class="blank"><a href="#">Python</a></span>
            <span class="blank"><a href="#">Tech</a></span>
            <span class="blank"><a href="#">Tutorials</a></span>
        </div>
        <!-- entity_tag -->

        <div class="entity_social">
            <span><i class="fa fa-share-alt"></i>424 <a href="#">Shares</a> </span>
            <span><i class="fa fa-comments-o"></i>4 <a href="#">Comments</a> </span>
        </div>
        <!-- entity_social -->

    </div>
    <!-- entity_footer -->

</div>
<!-- entity_wrapper -->

<div class="readers_comment">
    <div class="entity_inner__title header_purple">
        <h2>Comments</h2>
    </div>
    <!-- entity_title -->

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img alt="64x64" class="media-object" data-src="static/img/reader_img1.jpg"
                     src="static/img/reader_img1.jpg" data-holder-rendered="true">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading"><a href="#">Sr. Ryan</a></h2>
            But who has any right to find fault with a man who chooses to enjoy a pleasure that has
            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

            <div class="entity_vote">
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                <a href="#"><span class="reply_ic">Reply </span></a>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img alt="64x64" class="media-object" data-src="static/img/reader_img2.jpg"
                             src="static/img/reader_img2.jpg" data-holder-rendered="true">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading"><a href="#">Admin</a></h2>
                    But who has any right to find fault with a man who chooses to enjoy a pleasure
                    that has no annoying consequences, or one who avoids a pain that produces no
                    resultant pleasure?

                    <div class="entity_vote">
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                        <a href="#"><span class="reply_ic">Reply </span></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- media end -->

    <div class="media">
        <div class="media-left">
            <a href="#">
                <img alt="64x64" class="media-object" data-src="static/img/reader_img3.jpg"
                     src="static/img/reader_img3.jpg" data-holder-rendered="true">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading"><a href="#">S. Joshep</a></h2>
            But who has any right to find fault with a man who chooses to enjoy a pleasure that has
            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?

            <div class="entity_vote">
                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                <a href="#"><span class="reply_ic">Reply </span></a>
            </div>
        </div>
    </div>
    <!-- media end -->
</div>
<!--Readers Comment-->

<div class="entity_comments">
    <div class="entity_inner__title header_black">
        <h2>Add a Comment</h2>
    </div>
    <!--Entity Title -->

    <div class="entity_comment_from">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group comment">
                <textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>
            </div>

            <button type="submit" class="btn btn-submit red">Submit</button>
        </form>
    </div>
    <!--Entity Comments From -->
</div>
<!--Entity Comments -->
</div>
<!--Left Section-->
<!--Right Section-->
</div>
<!-- row -->
</div>
<!-- container -->
</section>
<!-- Entity Section Wrapper -->
{% endblock %}
