{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="entity_wrapper">

                    <!--Div for blog title-->
                    <div class="entity_title">
                        <h1>How to Deploy your Flask app to AWS Elastic Beanstalk</h1>
                    </div>

                    <!--Div for blog date-->
                    <div class="entity_meta">
                        9Feb- 2019
                    </div>

                    <!--Div for blog image(s)-->
                    <div class="row">
                        <div class="column">
                            <img class="img-responsive"
                                 src="static/img/flask-python.png"
                                 alt="Python flask"
                                 width="50%"
                                 style="float: left; display:block; margin-left: auto; margin-right: auto;">
                        </div>
                        <div class="column">
                            <img class="img-responsive"
                                 src="static/img/aws_eb.png"
                                 alt="AWS Elastic Beanstalk"
                                 width="50%"
                                 style="float: right; display:block; margin-left: auto; margin-right: auto;">
                        </div>
                    </div>

                    <!--Div for all blog content/copy-->
                    <div style="text-align: justify;">
                    <!--Intro paragraph-->
                        <p>
                            Three years ago, I was a new developer trying (and failing) to deploy my simple
                            <a href="https://www.python.org/">Python</a> Flask application to
                            <a href="https://aws.amazon.com/">Amazon Web Services</a>' (AWS)
                            <a href="https://aws.amazon.com/elasticbeanstalk/">Elastic Beanstalk</a>. In the process, I
                            reviewed <a href="http://flask.pocoo.org/docs/1.0/quickstart/">this</a> documentation
                            from the makers of Flask on how get started making simple Flask apps,
                            <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-flask.html">
                            this</a> documentation from AWS on Elastic Beanstalk, and
                            <a href="https://medium.com/@rodkey/deploying-a-flask-application-on-aws-a72daba6bb80">this</a>
                            blog post on using the two together. All  were helpful, but I was so new to development
                            that even with these and other resources, I found the process horribly frustrating,
                            and I ran into one time-consuming bug after another.
                        </p>
                        <p>
                            These days when I deploy my Flask apps to Elastic Beanstalk, I still run into some of the
                            same hurdles that I encountered when I first started doing this three years ago.
                            Fortunately, experience has helped me to power through each error more easily. In an effort
                            to continue making this process easier each time, and to assist others who may still be
                            struggling, I've created the following step-by-step guide to deploying Flask apps to AWS
                            Elastic Beanstalk. A few notes about this guide:
                            <ol>
                                <li>
                                    I use Python 2.7 throughout this tutorial. If you are using a different version of
                                    Python, you may need to make adjustments accordingly.
                                </li>
                                <li>
                                    Depending on your comfort level with the language and tools presented here, it will
                                    take you at least an hour to complete this tutorial from start to finish, so you
                                    may want to plan accordingly.
                                </li>
                                <li>
                                    Be sure to check out the <i class="fa fa-picture-o"></i> icons throughout this post
                                    for screenshots that will help you confirm that you're seeing what you're supposed
                                    to be seeing in each step.
                                </li>
                            </ol>
                        </p>
                        <p>
                            With that, let's get started!
                        </p>

                        <br>
                        <!--Step 0-->
                        <p>
                            <h2>Step 0: Create a <a href="{{ url_for('key_terms_and_definitions') }}">virtual
                            environment!</a></h2><br>Ok, to be fair, you can totally deploy a Flask application without
                            using a virtual environment. However, I feel so strongly that you <i>should</i> run your
                            app in a virtual environment that I'm including it as a step in this tutorial. Every time
                            I've tried to deploy a Flask app to Elastic Beanstalk outside of the safety of a virtual
                            environment, I encountered at least one maddening error that ate up hours of valuable time,
                            the most recent of which was
                            <span data-toggle="modal" data-target="#SixError" style="color: #337ab7;">
                                <a href="#" onclick="return false;">this</a>
                            </span> one &mdash;an error about about a Python
                            <a href="https://pypi.org/project/six/">six</a> package that I didn't even know was
                            involved in this larger process of deploying a Flask app to Elastic Beanstalk. Believe me,
                            you do <i>not</i> want to spend time debugging this or similar errors that can easily be
                            avoided by using a virtual environment. To spin up a virtual environment:
                        </p>

                        <!--Six error modal -->
                        <div id="SixError" class="modal fade" role="dialog">

                          <div class="modal-dialog modal-content">

                            <div class="modal-content">

                              <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                <h4 class="modal-title">Six error</h4>

                              </div>

                              <div class="modal-body">

<pre><code><b>$ pip install awscli</b><br>
Collecting awscli
  Using cached https://files.pythonhosted.org/packages/22/13/5c2df72102ab95f13a0b2ad470500327765e163d6867afd6421316fa6692/awscli-1.16.81-py2.py3-none-any.whl
Collecting s3transfer<0.2.0,>=0.1.12 (from awscli)
  Using cached https://files.pythonhosted.org/packages/d7/14/2a0004d487464d120c9fb85313a75cd3d71a7506955be458eebfe19a6b1d/s3transfer-0.1.13-py2.py3-none-any.whl
Collecting botocore==1.12.71 (from awscli)
  Using cached https://files.pythonhosted.org/packages/50/c0/cd4f8bec8a10876f0ce34f0cf264fda04e09df41d1a473a43f890c71fffa/botocore-1.12.71-py2.py3-none-any.whl
Collecting rsa<=3.5.0,>=3.1.2 (from awscli)
  Using cached https://files.pythonhosted.org/packages/e1/ae/baedc9cb175552e95f3395c43055a6a5e125ae4d48a1d7a924baca83e92e/rsa-3.4.2-py2.py3-none-any.whl
Collecting colorama<=0.3.9,>=0.2.5 (from awscli)
  Using cached https://files.pythonhosted.org/packages/db/c8/7dcf9dbcb22429512708fe3a547f8b6101c0d02137acbd892505aee57adf/colorama-0.3.9-py2.py3-none-any.whl
Requirement already satisfied: docutils>=0.10 in /Library/Python/2.7/site-packages (from awscli) (0.14)
Collecting PyYAML<=3.13,>=3.10 (from awscli)
Requirement already satisfied: futures<4.0.0,>=2.2.0; python_version == "2.6" or python_version == "2.7" in /Library/Python/2.7/site-packages (from s3transfer<0.2.0,>=0.1.12->awscli) (3.2.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /Library/Python/2.7/site-packages (from botocore==1.12.71->awscli) (0.9.3)
Collecting python-dateutil<3.0.0,>=2.1; python_version >= "2.7" (from botocore==1.12.71->awscli)
  Using cached https://files.pythonhosted.org/packages/74/68/d87d9b36af36f44254a8d512cbfc48369103a3b9e474be9bdfe536abfc45/python_dateutil-2.7.5-py2.py3-none-any.whl
Collecting urllib3<1.25,>=1.20; python_version == "2.7" (from botocore==1.12.71->awscli)
  Using cached https://files.pythonhosted.org/packages/62/00/ee1d7de624db8ba7090d1226aebefab96a2c71cd5cfa7629d6ad3f61b79e/urllib3-1.24.1-py2.py3-none-any.whl
Collecting pyasn1>=0.1.3 (from rsa<=3.5.0,>=3.1.2->awscli)
  Using cached https://files.pythonhosted.org/packages/7b/7c/c9386b82a25115cccf1903441bba3cbadcfae7b678a20167347fa8ded34c/pyasn1-0.4.5-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil<3.0.0,>=2.1; python_version >= "2.7"->botocore==1.12.71->awscli)
  Using cached https://files.pythonhosted.org/packages/73/fb/00a976f728d0d1fecfe898238ce23f502a721c0ac0ecfedb80e0d88c64e9/six-1.12.0-py2.py3-none-any.whl
matplotlib 1.3.1 requires nose, which is not installed.
matplotlib 1.3.1 requires tornado, which is not installed.
Installing collected packages: six, python-dateutil, urllib3, botocore, s3transfer, pyasn1, rsa, colorama, PyYAML, awscli
<b>Found existing installation: six 1.4.1
  Cannot uninstall 'six'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.
</b>
</code></pre>

                          </div>

                        </div>

                      </div>

                    </div>

                        <p>
                            <ol>
                                <li>
                                    Install <a href="https://pypi.org/project/pip/">pip</a>, if you haven't already.
                                    Pip is a package manager for Python that makes it quick and easy to install Python
                                    packages. If you need help installing pip, see instructions
                                    <a href="https://pip.pypa.io/en/stable/installing/">here</a>.
                                </li>
                                <li>
                                    Install <a href="https://virtualenv.pypa.io/en/latest/">virtualenv</a>, if you
                                    haven't already. Virtualenv is a package that allows you to create virtual
                                    environments. Once you have pip installed, you can insteall virtualenv by running
                                    &nbsp;&nbsp;<code>$ pip install virtualenv</code>&nbsp;&nbsp; on the command line.
                                </li>
                                <li>
                                    Now that you have virtualenv installed, you can create a new virtual environment by
                                    running&nbsp;&nbsp;<code>$ virtualenv name_of_env</code>. Be sure to replace
                                    <code>name_of_env</code> with whatever you actually want to call your virtual
                                    environment. In this example, I call my virtual environment&nbsp;&nbsp;
                                    <code>flask_app_env</code>.
                                </li>
                                <li>
                                    Activate your virtual environment by running&nbsp;&nbsp;
                                    <code>$ source flask_app_env/bin/activate</code>. Be sure to replace
                                    <code>flask_app_env</code> with whatever you named your virtual
                                    environment. You will know if you are in your virtual environment (as opposed to
                                    just in a general space on your computer) when you see the name of the virtual
                                    environment that you created in front of your cursor, as seen here:&nbsp;
                                   <a href="#" onclick="return false;"><i class="fa fa-picture-o" aria-hidden="true" type="button" class="btn btn-info btn-lg"
                                    data-toggle="modal" data-target="#virtualenv"></i></a>

                                    <!--Virtualenv modal -->
                                    <div id="virtualenv" class="modal fade" role="dialog">

                                      <div class="modal-dialog modal-content">

                                        <div class="modal-content">

                                          <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                            <h4 class="modal-title">Virtual Environment Activation</h4>

                                          </div>

                                          <div class="modal-body">

                                            <img class="img-responsive" src="static/img/virtualenv_screenshot.png"
                                                 alt="Screenshot of virtualenv ">

                                          </div>

                                        </div>

                                      </div>

                                    </div>

                                </li>
                            </ol>
                        </p>
                        <p>
                            Now you're ready to start building your Flask app! <i>Within</i> your virtual environment
                            of course.
                        </p>

                        <br>
                        <!--Step 1-->
                        <p>
                            <h2>Step 1: Make a Flask app!</h2><br>If you're a true beginner, just getting a Flask app
                            up and running locally might be a project in and of itself, even before you attempt to
                            deploy to Elastic Beanstalk. Fortunately, there are lots of truly great tutorials like
                            <a href="http://flask.pocoo.org/docs/1.0/tutorial/">this</a> one from the makers of Flask
                            that will walk you through making your first app step by step.
                        </p>
                        <p>
                            Since this blog is a Flask app too, if you don't want to go through the trouble of making
                            an app from scratch right now, you can clone the repo for this blog and just use that. To
                            clone my repo with my blog, visit
                            <a href="https://github.com/alysedunn/personalsite2019">this</a> link, and select the green
                            "Clone or download" button. If this is your first time cloning a repo, and you need
                            assistance, check out <a href="https://help.github.com/articles/cloning-a-repository/">this
                            </a>reference on how to do this.
                            Regardless of how you make/acquire your Flask application, ensure the following to ensure
                            a smooth deployment to Elastic Beanstalk:
                        <ol>
                            <li>
                                The app's application file must be named <code>application.py</code> (as opposed to,
                                say, <code>app.py</code>). This is the file that contains all of the routes for your
                                app. The first line in this file is likely
                                <code>from flask import Flask, render_template</code>
                            </li>
                            <li>
                                Within the app's application file, the value of <code>Flask(__name__)</code> must be
                                equal to <code>application</code> (as opposed to, say, <code>app</code>).
                            </li>
                            <li>
                                Within the app's application file, the value of <code>"__name__"</code> must be equal
                                to <code>"__main__"</code>, as seen
                                <a href="https://github.com/alysedunn/personalsite2019/blob/master/Main/application.py#L29">
                                here.</a>
                            </li>
                        </ol>
                        <p>
                            Once you have your application and it has all of the attributes detailed above, I strongly
                            advise running your app locally before you go any further, to identify any issues that
                            could be harder to debug further in the process. To run your Flask app locally,
                            <code>cd</code> into your application's <code>Main</code> directory, and run the command
                            <code>flask run</code>. Then, in your desired browser, navigate to
                            <code>http://127.0.0.1:5000</code>. You should see your app in the browser. If you don't,
                            go back and review what you may have missed when creating or cloning the app.
                        </p>

                        <br>
                        <!--Step 2-->
                        <p>
                            <h2>Step 2: Make an AWS Account and Create a New User!</h2><br>One note about AWS accounts
                            if this is your first time creating one: If you're just deploying a simple Flask
                            application (like the one you may have cloned from my GitHub repo) to Elastic Beanstalk,
                            then AWS will only charge you $1.00 per month for the first year. However, after that,
                            AWS will charge you upwards of $10 per month. Regardless, to create your first AWS account
                            (which will be awesomely cheap for the first year, depending on everything that you choose
                            to use it for):
                        </p>
                        <ol>
                            <li>
                                Create an account
                                <a href="https://portal.aws.amazon.com/billing/signup?type=enterprise#/start">here.</a>
                            </li>
                            <li>
                                Once you've created and logged into your new account, navigate to the search bar on the
                                main landing page, type in "iam", and select the option presented in the dropdown:&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal" data-target="#IAMSearch">
                                     </i>
                                 </a>

                                <!--IAM search modal -->
                                <div id="IAMSearch" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">AWS Main Landing Page: IAM Search</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/aws_screenshot_2_search.png"
                                             alt="AWS Main Landing Page search for IAM">
                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>
                            <li>
                                On the resulting page, select "Users" from the left hand panel, and click on the blue
                                "Add User" button towards the top of the page:&nbsp;

                                <a href="#" onclick="return false;">
                                    <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                       class="btn btn-info btn-lg" data-toggle="modal" data-target="#IAMUsersMenu">
                                    </i>
                                </a>

                                <!--Add user modal -->
                                <div id="IAMUsersMenu" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Add User</h4>

                                      </div>

                                      <div class="modal-body">

                                        <img class="img-responsive" src="static/img/aws_screenshot_3_iam_users.png"
                                             alt="AWS IAM Users menu">
                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>
                            <li>
                                Enter your desired username (in the screenshot, I use my name, "Alyse"), and be sure to
                                select the "Programmatic Access" type from the two access type options. Once complete,
                                select the blue "Next: Permissions" button in the lower right hand corner of the page:
                                &nbsp;

                                <a href="#" onclick="return false;">
                                    <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                       class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateUser">
                                    </i>
                                </a>

                                <!--Add user access type modal -->
                                <div id="CreateUser" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Assign Access Type to User</h4>

                                      </div>

                                      <div class="modal-body">

                                        <img class="img-responsive" src="static/img/aws_screenshot_4_create_user.png"
                                             alt="Add User Access Type for new AWS IAM user">
                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>
                            <li>
                                Enter your desired group name. In the screenshot, I use the
                                group name "Admins". Then, select the "Administrator Access" group from the list of
                                available policies. Once done, select the blue "Create group" button in the lower right
                                hand corner of the page:&nbsp;

                                <a href="#" onclick="return false;">
                                    <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                       class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateAdminsGroup">
                                    </i>
                                </a>

                                <!--Create Admins Group modal -->
                                <div id="CreateAdminsGroup" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Assign Access Group to User</h4>

                                      </div>

                                      <div class="modal-body">

                                        <img class="img-responsive" src="static/img/aws_screenshot_5_create_admin_group.png"
                                             alt="Add User Access Group for new AWS IAM user">

                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>
                            <li>
                                The resulting screen will confirm that you are adding your newly created user to the
                                "Admins" user group:&nbsp;

                                <a href="#" onclick="return false;">
                                    <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                       class="btn btn-info btn-lg" data-toggle="modal"
                                       data-target="#UserAccessConfirmation">
                                    </i>
                                </a>

                                <!--User group confirmation page modal -->
                                <div id="UserAccessConfirmation" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Assign Access Policy to User</h4>

                                      </div>

                                      <div class="modal-body">

                                        <img class="img-responsive" src="static/img/aws_screenshot_6_assign_user_to_group.png"
                                             alt="Confirm User Access for new AWS IAM user ">
                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>
                            <li>
                                Continue clicking the blue "Next" buttons on the lower, right hand corner of each page
                                until you get to the final confirmation page that the user has been successfully
                                created with permissions:&nbsp;

                                <a href="#" onclick="return false;">
                                    <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                       class="btn btn-info btn-lg" data-toggle="modal"
                                       data-target="#UserFinalConfirmation">
                                    </i>
                                </a>

                                <!--User confirmation modal -->
                                <div id="UserFinalConfirmation" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Assign Access Group to User</h4>

                                      </div>

                                      <div class="modal-body">

                                        <img class="img-responsive" src="static/img/aws_screenshot_7_user_confirmation.png"
                                             alt="AWS IAM Users create user final confirmation page">
                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>

                        </ol>

                        <br>
                        <!--Step 3-->
                        <p>
                            <h2>Step 3: Deploy to AWS!</h2><br>Even though we created a user and permissions via the
                            AWS UI, from here, will use the command line for the actual deployment. You'll want to do
                            all of this from within your virtual environment. Again, you know if you  are in your
                            virtual environment when you see the name of your virtual environment in front of your
                            cursor, as seen here:&nbsp;

                            <a href="#" onclick="return false;">
                                <i class="fa fa-picture-o" aria-hidden="true" type="button" class="btn btn-info btn-lg"
                                   data-toggle="modal" data-target="#virtualenv">
                                </i>
                            </a>

                            <!--Virtualenv modal -->
                            <div id="virtualenv" class="modal fade" role="dialog">

                              <div class="modal-dialog modal-content">

                                <div class="modal-content">

                                  <div class="modal-header">

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                    <h4 class="modal-title">Virtual Environment Activation</h4>

                                  </div>

                                  <div class="modal-body">

                                    <img class="img-responsive" src="static/img/virtualenv_screenshot.png"
                                         alt="Screenshot of virtualenv ">

                                  </div>

                                </div>

                              </div>

                            </div>

                        </p>
                        <p>To deploy your Flask app to Elastic Beanstalk:</p>
                        <ol>
                            <li>
                                Install AWS command line tools if you haven't already. These can be installed by
                                running &nbsp;<code>$ pip install awscli</code> via the command line.
                            </li>
                            <li>
                                <code>cd</code> to into your application's <code>Main</code> directory. This is
                                important. If you don't run everything from the <code>Main</code> directory, when you
                                go to deploy, your application, it will throw errors not covered in this tutorial.
                            </li>
                            <li>
                                In your application's <code>Main</code> directory, run <code>eb init</code>. This
                                initializes Elastic Beanstalk. It will also create a git-ignored directory in your
                                <code>Main</code> directory. Do not delete or move this directory. If you do, your
                                deploy will fail.
                            </li>
                            <li>
                                After you run <code>eb init</code>, you'll be prompted to enter your default region.
                                This is effectively AWS asking you where you want your servers to be physically
                                located. If you hit enter, AWS will choose for you. Or, you can enter
                                the number associated with your preferred region. If this is your first time doing
                                a deploy, I'd suggest just letting AWS decide for you. Since I live and work in New
                                York City, I always enter a 1 here because I like manually confirming that the servers
                                that I get are the ones that are physically closest to me:&nbsp;

                                 <a href="#" onclick="return false;">
                                    <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                       class="btn btn-info btn-lg" data-toggle="modal" data-target="#EbInitAndResults">
                                    </i>
                                 </a>

                                <!--Eb init and results modal -->
                                <div id="EbInitAndResults" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title"><code>eb init</code> and Region Selection</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/eb_init_and_default_region.png"
                                             alt="eb init and results on command line ">

                                      </div>

                                    </div>

                                  </div>

                                </div>

                            </li>
                            <li>
                                You'll be prompted to select an application that you want to use for this
                                deployment. If this is your first time doing this, no options will be listed and you'll
                                want to select the default of creating a new application. If you've done this before,
                                you'll have the option of creating a new application, or selecting an application that
                                you've made in the past. Regardless, for our purposes, enter whatever number is
                                needed to create a new application:&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#CreateNewApplication">
                                     </i>
                                 </a>

                                <!--Create application modal -->
                                <div id="CreateNewApplication" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Application Selection</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/create_new_application.png"
                                             alt="Create new Elastic Beanstalk Application via the command line">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                            <li>
                                You'll be prompted to create a name for your application. I use the name
                                'first_flask_app', but you can call it whatever you want:&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal" data-target="#NameApplication">
                                     </i>
                                 </a>

                                <!--Name application modal -->
                                <div id="NameApplication" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Name Application</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/name_application.png"
                                             alt="Name new Elastic Beanstalk Application via the command line">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                            <li>
                                Next, you'll be asked to confirm if you're using Python, and if so, which version.
                                Enter the appropriate responses based on what you're using. You will also be asked if
                                you want to set up SSH for your instances. I suggest entering 'Y' just because it'll
                                give you more flexibility in the future as you interact with your instances, but
                                there's also no harm in entering 'n' right not if you want to keep it simple.&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#PythonVersionAndSSH">
                                     </i>
                                 </a>

                                <!--Python version and SSH modal -->
                                <div id="PythonVersionAndSSH" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Language, Version, and SSH preference</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/python_and_ssh_confirmation.png"
                                             alt="Enter language, language version, and SSH preferences via the
                                             command line">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                            <li>
                                You'll be asked to enter a keypair for your application. If this is your first
                                time doing this, no options will be listed and you'll want to select the default of
                                creating a new keypair. If you've done this before, you'll have the option of creating
                                a new keypair, or selecting a keypair that you've made in the past. Regardless, for our
                                purposes, enter whatever number is needed to create a new keypair. You'll also be
                                prompted to enter a passphrase, which you can do, but I never bother with.&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal" data-target="#Keypair">
                                     </i>
                                 </a>

                                <!--Keypair modal -->
                                <div id="Keypair" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Keypair</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/keypair.png"
                                             alt="Enter keypair via the command line">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                            <li>
                                Now, we have to set up the environment name and DNS for our app by running
                                <code>eb create</code>. You'll be prompted to enter an environment name, DNS name, and
                                load balancer type. It's fine to use defaults for all of this. Once you finish stepping
                                through the prompts, you'll see some output in the terminal while Elastic Beanstalk
                                deploys the application. It generally takes 10-20 minutes to deploy, and the console
                                output stops when complete.&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal" data-target="#EbCreate">
                                     </i>
                                 </a>

                                <!--Eb Create modal -->
                                <div id="EbCreate" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title"><code>eb create</code></h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/eb_create.png"
                                             alt="Enter keypair via the command line">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                            <li>
                                Once complete, sign back into the AWS UI, navigate to the search bar on the main
                                landing page, type in "elastic beanstalk", and select the option presented in the
                                dropdown:&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#ElasticBeanstalkSearch">
                                     </i>
                                 </a>

                                <!--Elastic Beanstalk search modal -->
                                <div id="ElasticBeanstalkSearch" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Elastic Beanstalk Search</h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/elastic_beanstalk_search.png"
                                             alt="Search for Elastic Beanstalk">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                            <li>
                                In the Elastic Beanstalk dashboard, towards the top of the page, you'll see a 'URL'.
                                If everything has completed successfully, click on this URL to be directed to your
                                site:&nbsp;

                                 <a href="#" onclick="return false;">
                                     <i class="fa fa-picture-o" aria-hidden="true" type="button"
                                        class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#ElasticBeanstalkURL">
                                     </i>
                                 </a>

                                <!--Final flask app modal -->
                                <div id="ElasticBeanstalkURL" class="modal fade" role="dialog">

                                  <div class="modal-dialog modal-content">

                                    <div class="modal-content">

                                      <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h4 class="modal-title">Elastic Beanstalk Landing Page with app URL </h4>

                                      </div>
                                      <div class="modal-body">
                                        <img class="img-responsive" src="static/img/final_flask_app.png"
                                             alt="Search for Elastic Beanstalk">

                                      </div>

                                    </div>

                                  </div>

                                </div>
                            </li>
                        </ol>

                        <br>

                        <p>
                            That's it! You've just successfully deployed your Flask application to Elastic Beanstalk!
                            That was a lot, but now that you have it deployed and out into the world, updating it is
                            easy. Every time you want to deploy your latest changes to Elastic Beanstalk, simply run
                            the same <code>eb deploy</code> command that you ran earlier. Happy Pythoning!
                        </p>
                        </div>

                        <br>
            </div>

        </div>

    </div>

</section>

{% endblock %}
