{% extends "bloglayout.html" %}
{% block content %}
<style>
    /*img {*/
  /*float: right;*/
/*}*/
</style>


<section id="entity_section" class="entity_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="entity_wrapper">
    <div class="entity_title">
        <h1>How to Deploy your Python Flask app to AWS Elastic Beanstalk</h1>
    </div>
    <!-- entity_title -->

    <div class="entity_meta">
        1Feb- 2019
    </div>
    <!-- entity_meta -->

    <!--<div class="entity_social">-->
        <!--<a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>-->
        <!--<a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>-->
        <!--<a href="#" class="icons-sm fb-ic"><i class="fa fa-linkedin-square"></i></a>-->
    <!--</div>-->
    <!-- entity_social -->

    <div class="row">
        <div class="column" >
            <img class="img-responsive" src="static/img/flask-python.png" alt="Python flask" width="50%" style="float: left; display:block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="column">
            <img class="img-responsive" src="static/img/aws_eb.png" alt="AWS Elastic Beanstalk" width="50%" style="float: right; display:block; margin-left: auto; margin-right: auto;">
        </div>
    </div>
    <!-- entity_thumb -->

    <div class="entity_content">
        <p>
            Three years ago, I was a new developer trying (and failing) to deploy my simple
            <a href="https://www.python.org/">Python</a> <a href="http://flask.pocoo.org/">flask</a> application to
            <a href="https://aws.amazon.com/">Amazon Web Services</a>' (AWS)
            <a href="https://aws.amazon.com/elasticbeanstalk/">Elastic Beanstalk</a> (EB). In the process, I reviewed
            <a href="http://flask.pocoo.org/">this</a> documentation from Flask,
            <a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-flask.html">this</a>
            documentation from AWS, and
            <a href="https://medium.com/@rodkey/deploying-a-flask-application-on-aws-a72daba6bb80">this</a> blog post
            on using the two together. All  were helpful, but I was so new to development that even with these and
            other resources, I found the entire process terribly frustrating as I ran into one bug after
            another and tried to Google my way through each one of them. I still run into some of those bugs when I
            deploy my Flask apps to AWS today, but fortunately after years of seeing them, I can power through them a
            lot more quickly than I used to. In an effort to continue making this process as seamless as possible for
            myself, and to assist others who may be struggling, I present the following step-by-step guide to deploying
            your own flask app to AWS Elastic Beanstalk. The example assumes that you are using Python 2.7. Note for
            those new to Python, Flask, AWS, or all three: Be sure to click on the links and
            <i class="fa fa-question-circle" aria-hidden="true" style="color: #2F2C99;"></i> icons throughout this
            post for more detailed information on concepts, terms, and tools that may be new to you.
        </p>
        <br>
        <b>Step 1: Create a <a href="{{ url_for('key_terms_and_definitions') }}">virtual environment!</a></b><br>
            To be fair, you can get a Flask app up and running successfully without the use of a virtual environment.
            You might even be able to get that app deployed to EB without using a virtual environment. However, I ran
            into various errors in step 4 below when I did <i>not</i>use a virtual environment. So, if you want this
            deployment to go smoothly, I recommend starting here. To create a virtual environment, you must first
            install virtualenv by running
            be installed by running <code>pip install virtualenv</code>.
        </p>
        <br>
        <p>
            <b>Step 2: Make a flask app!</b><br>If you're a true beginner, getting a flask app up and running
            locally might be a feat in and of itself. Fortunately, there are many great tutorials that can help, like
            <a href="http://flask.pocoo.org/docs/1.0/tutorial/">this</a> one, from the official creators of flask.
            Since the focus of this post is on <i>deploying</i> flask apps that you've already created,
            I won't provide a tutorial on creating the apps themselves. I'll leave the actual app creation to you.
            However, I will provide the following tips to ensure that your app includes features that will ensure
            ensure a smooth deployment to AWS EB, namely:
            <ol>
                <li>
                    Name your 'application' file <code>application.py</code>. <i>Not</i> <code>app.py</code> or
                    <code>taco.py</code> or anything else that's <i>not</i> <code>application.py</code>. Your
                    application file is the file that contains your main python code. You likely have
                    <code>from flask import Flask</code> towards the top of the file).
                </li>
                <li>
                    In your application file, ensure that the value of <code>Flask(__name__)</code> is
                    <code>application</code>, <i>not</i> <code>app</code> or <code>taco</code> or anything else that's
                    <i>not</i> <code>application</code>.
                </li>
                <li>
                    In your application file, ensure that the value of <code>"__name__"</code> is
                    <code>"__main__"</code>, <i>not</i> <code>"__app__"</code> or <code>"__taco__"</code> or anything
                    else that's <i>not</i> <code>"__main__"</code>. So, at the end of your application file, you should
                    have a short function that looks something like this:<br>
                    <code>
                        if __name__ == "__main__":<br>
                        &emsp;&emsp;&emsp;&emsp;application.debug = False<br>
                        &emsp;&emsp;&emsp;&emsp;application.run()
                    </code>
                </li>
            </ol>
        </p>
        <br>
        <p>
            <b>Step 3: Make an AWS Account!</b><br>To create an account in AWS, start
            <a href="https://portal.aws.amazon.com/billing/signup?type=enterprise#/start">here</a>, and simply follow
            the prompts. It takes less than 5 minutes to create a basic account with a login and password, but after
            you create the account, you'll also want to do the following:
            <ol>
                <li>
                    If you'd like an overview of all of the steps involved in creating an account,
                    <a href="https://aws.amazon.com/premiumsupport/knowledge-center/create-and-activate-aws-account/">
                        this</a> outlines that process.
                </li>
                <li>
                    You must enter a credit card in order to sign up for an AWS account. How much will you get charged
                    on your credit card when you register? Well that depends on how much you plan on utilizing AWS, but
                    for context, this blog is a flask app that I run on EB, and AWS bills me about $20 per month to
                    keep it up and running.
                </li>
            </ol>
        </p>
                <br>
        <p>
            <b>Step 4: Deploy to AWS!</b><br>This is the hardest part. Now, typically, I strongly advise against anyone
            blindly copying and pasting commands that they find online unless you know exactly what they're doing.
            However, if you're new to Flask, Python, and/or AWS, I do recommend copy/pasting in this tutorial. If you
            want more information about exactly what each command is doing (which I do recommend reviewing), simply
            select the <i class="fa fa-question-circle" aria-hidden="true"></i> icon next to each command for more info.
        </p>
        <br>
    </div>
    <!-- entity_content -->

    <!--<div class="entity_footer">-->
        <!--<div class="entity_tag">-->
            <!--<span class="blank"><a href="#">AWS</a></span>-->
            <!--<span class="blank"><a href="#">Flask</a></span>-->
            <!--<span class="blank"><a href="#">Python</a></span>-->
            <!--<span class="blank"><a href="#">Tech</a></span>-->
            <!--<span class="blank"><a href="#">Tutorials</a></span>-->
        <!--</div>-->
        <!--&lt;!&ndash; entity_tag &ndash;&gt;-->

        <!--<div class="entity_social">-->
            <!--<span><i class="fa fa-share-alt"></i>424 <a href="#">Shares</a> </span>-->
            <!--<span><i class="fa fa-comments-o"></i>4 <a href="#">Comments</a> </span>-->
        <!--</div>-->
        <!--&lt;!&ndash; entity_social &ndash;&gt;-->

    <!--</div>-->
    <!-- entity_footer -->

</div>
<!-- entity_wrapper -->

<!--<div class="readers_comment">-->
    <!--<div class="entity_inner__title header_purple">-->
        <!--<h2>Comments</h2>-->
    <!--</div>-->
    <!--&lt;!&ndash; entity_title &ndash;&gt;-->

    <!--<div class="media">-->
        <!--<div class="media-left">-->
            <!--<a href="#">-->
                <!--<img alt="64x64" class="media-object" data-src="static/img/reader_img1.jpg"-->
                     <!--src="static/img/reader_img1.jpg" data-holder-rendered="true">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body">-->
            <!--<h2 class="media-heading"><a href="#">Sr. Ryan</a></h2>-->
            <!--But who has any right to find fault with a man who chooses to enjoy a pleasure that has-->
            <!--no annoying consequences, or one who avoids a pain that produces no resultant pleasure?-->

            <!--<div class="entity_vote">-->
                <!--<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>-->
                <!--<a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>-->
                <!--<a href="#"><span class="reply_ic">Reply </span></a>-->
            <!--</div>-->
            <!--<div class="media">-->
                <!--<div class="media-left">-->
                    <!--<a href="#">-->
                        <!--<img alt="64x64" class="media-object" data-src="static/img/reader_img2.jpg"-->
                             <!--src="static/img/reader_img2.jpg" data-holder-rendered="true">-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="media-body">-->
                    <!--<h2 class="media-heading"><a href="#">Admin</a></h2>-->
                    <!--But who has any right to find fault with a man who chooses to enjoy a pleasure-->
                    <!--that has no annoying consequences, or one who avoids a pain that produces no-->
                    <!--resultant pleasure?-->

                    <!--<div class="entity_vote">-->
                        <!--<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>-->
                        <!--<a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>-->
                        <!--<a href="#"><span class="reply_ic">Reply </span></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash; media end &ndash;&gt;-->

    <!--<div class="media">-->
        <!--<div class="media-left">-->
            <!--<a href="#">-->
                <!--<img alt="64x64" class="media-object" data-src="static/img/reader_img3.jpg"-->
                     <!--src="static/img/reader_img3.jpg" data-holder-rendered="true">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body">-->
            <!--<h2 class="media-heading"><a href="#">S. Joshep</a></h2>-->
            <!--But who has any right to find fault with a man who chooses to enjoy a pleasure that has-->
            <!--no annoying consequences, or one who avoids a pain that produces no resultant pleasure?-->

            <!--<div class="entity_vote">-->
                <!--<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>-->
                <!--<a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>-->
                <!--<a href="#"><span class="reply_ic">Reply </span></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; media end &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;Readers Comment&ndash;&gt;-->

<!--<div class="entity_comments">-->
    <!--<div class="entity_inner__title header_black">-->
        <!--<h2>Add a Comment</h2>-->
    <!--</div>-->
    <!--&lt;!&ndash;Entity Title &ndash;&gt;-->

    <!--<div class="entity_comment_from">-->
        <!--<form>-->
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" id="inputName" placeholder="Name">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
            <!--</div>-->
            <!--<div class="form-group comment">-->
                <!--<textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>-->
            <!--</div>-->

            <!--<button type="submit" class="btn btn-submit red">Submit</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--&lt;!&ndash;Entity Comments From &ndash;&gt;-->
<!--</div>-->
<!--Entity Comments -->
</div>
<!--Left Section-->
<!--Right Section-->
</div>
<!-- row -->
</div>
<!-- container -->
</section>
<!-- Entity Section Wrapper -->
{% endblock %}
