{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="entity_wrapper">
    <div class="entity_title">
        <h1><a href="#">Key Programming Terms and Definitions</a></h1>
    </div>
    <!-- entity_title -->

    <div class="entity_content">
        <ul>
            <b>Virtual Environment:</b>
            Have you ever tried to make the exact same dish in two different ovens, and found that the dish turned out
            slightly different? Have you washed the same clothes in two different washing machines, and discovered that
            your clothes felt slightly different after they came out of one washing machine vs. the other? A similar
            phenomenon can happen when you're building Python apps too. It's possible for the exact same app to
            behave completely differently from computer to computer, due to differences in package versions between the
            two computers. The same Python program might even behave differently if you run it on the <i>same</i>
            computer several weeks apart, if you've updated some packages on that computer in the meantime. Virtual
            environments solve this problem. A virtual environment a place on your computer where, if you run a
            program in that box, it will always produce the same results. It's kind of like a special canister in a
            larger washing machine that makes sure that <i>your</i> clothes turn out perfectly every time. I strongly
            recommend doing all Python development in a virtual environment!
        </ul>
    </div>
    <!-- entity_content -->

</div>
<!-- entity_wrapper -->

</div>
<!--Left Section-->
<!--Right Section-->
</div>
<!-- row -->
</div>
<!-- container -->
</section>
<!-- Entity Section Wrapper -->
{% endblock %}
