{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="entity_wrapper">
    <div class="entity_title">
        <h1><a href="#">Key Programming Terms and Definitions</a></h1>
    </div>
    <!-- entity_title -->

    <div class="entity_content">
        <ul>
            <b>Virtual Environment:</b> An isolated workspace on your computer where you can ...
        </ul>
    </div>
    <!-- entity_content -->

</div>
<!-- entity_wrapper -->

</div>
<!--Left Section-->
<!--Right Section-->
</div>
<!-- row -->
</div>
<!-- container -->
</section>
<!-- Entity Section Wrapper -->
{% endblock %}
