{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="entity_wrapper">

                    <!--Div for blog title-->
                    <div class="entity_title">
                        <h1>Novice Newcommer to Professional Programmer</h1>
                    </div>

                    <!--Div for blog date-->
                    <div class="entity_meta">
                        9Feb- 2019
                    </div>
                    <br>
                    <!--Div for blog image(s)-->
                    <div class="row" style="width: 100%; margin:0 auto;">
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Shoaib_Ahamed.jpg"
                                 alt="Headshot, Shoaib A., Manager of Front End Development at Wiley"/>
                            <p>Shoaib A.</p>
                            <p>Manager of Front End Development at <a href="https://www.wiley.com/en-us">Wiley</a></p>
                            <p>"Done is better than perfect"</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src=""
                                 alt="Headshot, Richard, Full-stack software engineer at Hustle"/>
                            <p>Richard H.</p>
                            <p>Full-stack software engineer at <a href="https://www.hustle.com/">Hustle</a></p>
                            <p>"Create projects that solve actual problems in your life"</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Abby_Garcia.jpg"
                                 alt="Headshot, Abby G., Front end developer Abby G. at LinkedIn"/>
                            <p>Abby G.</p>
                            <p>Front End Developer at <a href="https://www.linkedin.com/feed/">LinkedIn</a></p>
                            <p>"Veterans who have been in this field for years will have the same questions you have"
                            </p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src=""
                                 alt="Headshot, Dave M., developer at x."/>
                            <p>Dave M.</p>
                            <p></p>
                            <p>""</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src=""
                                 alt="Headshot, Kavan B., Mobile developer at x."/>
                            <p>Kavan B.</p>
                            <p></p>
                            <p>""</p>
                        </div>
                    </div>

                    <br>
                    <!--Div for all blog content/copy-->
                    <div style="text-align: justify;">
                    <!--Intro paragraph-->
                        <p>
                            I am a 'self taught' software engineer. That is to say: I don't have any formal education
                            in computer science. I received a bachelor's in Business Administration from the University
                            of Michigan in 2008, and then proceeded to teach myself how to code years after I graduated.
                        </p>
                        <p>
                            As a 'self-taught' engineer, I frequently get asked the question: 'How did you do it?
                            How did you just teach yourself how to code, with no formal education, and then get a job
                            doing it full-time?' I get this question so frequently that I posed it to five of my
                            NYC-based, self-taught colleagues, in an attempt to provide a more comprehensive resource
                            on how myself and others have successfully made this transition, and what advice they'd
                            give to others who want to do the same. Their responses ranged from moving to downright
                            hilarious. Read on for more information about how five different individuals made this
                            increasingly coveted career move.
                        </p>
                        <br>
                        <h2>Q: What inspired you to learn how to code?</h2>
                        <p><b>Shoaib: </b>In short, back in 2014, I had a side business making websites for small
                            businesses. Since I was not a developer (yet), I shipped the development work overseas.
                            On one project, the developer started BSing me &mdash;saying 'Oh this part of the site
                            takes 3 months to make...' I was not a programmer, therefore, I could not verify whether the
                            job really took as long as he was claiming. Ultimately, the project failed and I had to
                            return the client's money. The fact that I didn't know enough to manage a technical person
                            angered me, and I decided to start learning how to code myself, so that I could have more
                            control over the development process next time.
                        </p>
                        <br>
                        <p><b>Richard: </b>I actually learned to code when I was around ten years old. I taught myself
                            <a href="https://en.wikipedia.org/wiki/BASIC">BASIC</a>, and then
                            <a href="https://en.wikipedia.org/wiki/Pascal_(programming_language)">Pascal</a>. I don't
                            remember exactly what drew me into it except that we had a computer (this was 1980
                            &mdash;we had one of the first Apples) that my dad used for telecommuting, and I liked video
                            games and wanted to learn how to create them. Then I got really into theater in high
                            school, and stopped programming around the age of fifteen. Twenty-five years later, I was
                            doing theater and working in New York as a production graphic designer at a newspaper
                            (I did print layout &mdash;we used computers, but not the internet), and I slowly began
                            to gravitate back to my early love of programming because:
                            <ol type="a">
                                <li>It provided a way to solve problems, both at work through using JavaScript to
                                    script the layout program Adobe InDesign, and outside work where I created an
                                    attendance app for my recreational soccer team</li>
                                <li>Because I began to crave having a day job that would stretch my brain more than the
                                    one I was in.</li>
                            </ol>
                            As for whether
                            the knowledge I had from when I was a kid helped me get back into it so many years later,
                            the answer is, I have no idea. The programming languages and the ecosystems then are
                            very different today, but I imagine that some of the basic concepts I learned in the 80s
                            remained helpful.
                        </p>
                        <br>
                        <p><b>Abby: </b>My senior year in college I took at Web Design course that introduced me to
                            programming. It was an enlightening experience, but it was way too late to change my major
                            to computer science. After college, I saw friends, previous classmates, and co-workers who
                            had already stepped into the software engineering world. I saw what they were creating and
                            contributing to and I wanted to join in the fun too!
                        </p>
                        <br>
                        <p><b>Dave: </b></p>
                        <br>
                        <p><b>Kavan: </b></p>
                        <br>
                        <h2>Q: How did you learn how to code?</h2>
                        <p><b>Shoaib:</b> I started learning online, first from
                            <a href="https://www.w3schools.com/">w3schools</a>, then from
                            <a href="https://www.codecademy.com/">Codecademy</a>. Eventually, I also took part-time
                            evening classes at <a href="https://nycda.com/">New York Code & Design Academy</a>, a
                            comparatively new <a href="https://en.wikipedia.org/wiki/Coding_bootcamp">coding bootcamp</a>
                            at the time, back in 2015. This bootcamp was a door opener for me. It gave me the
                            opportunity to meet meet other coders for the first time, and it gave me a community of
                            people who I could ask questions of when I was stuck.
                        </p>
                        <br>
                        <p><b>Richard: </b>In round one, starting when I was 10, I was almost entirely self-taught,
                            from manuals. In round two, when I was 40, I learned by reading books and things on the
                            internet, doing a couple of <a href="https://www.coursera.org/">Coursera</a> courses,
                            doing small code projects at work (and on the Abobe forums from the ten people in the world
                            who know what they're doing in terms of scripting InDesign), going to Meetups that I barely
                            understood, and creating side projects and putting them up on
                            <a href="https://github.com/">Github</a>. In addition, I also took three short continuing
                            education classes at
                            <a href="https://www.nyu.edu/">NYU</a> (two on JavaScript and one on CSS and designing for
                            mobile). The mobile course was pretty good. The first JavaScript course was very bad, but
                            the second one was really good and instilled in me the belief that I could actually do this
                            for a living. But again, almost all of my learning was done outside of those classes.
                            The main thing I got out of them was inspiration and affirmation. After I had been a
                            professional software developer for a year, I did a three month programmer's retreat called
                            Hacker School (now called the <a href="https://www.recurse.com/">Recurse Center</a>), which
                            was really fun and which I think helped me to jump to another level when I was looking for
                            my next job.
                        </p>
                        <br>
                        <p><b>Abby: </b>Books, friends, self-study, and Meetups.
                        </p>
                        <br>
                        <p><b>Dave: </b>
                        </p>
                        <br>
                        <p><b>Kavan: </b>
                        </p>
                        <br>
                        <h2>Q: When did you start learning how to code?</h2>
                        <p><b>Shoaib:</b> I think I started the coding bootcamp in May 2015.
                        </p>
                        <br>
                        <p><b>Richard: </b>Round one: Around 1980. Round two: It was a really slow process with a lot
                            of stops and starts. I began around 2007, doing hobby projects and small scripting tasks at
                            work. Some time after that, I remember a two-year period there where I gave up on the idea
                            of actually doing it for a living, because I didn't want it to colonize my mind. Then I
                            changed my mind and started thinking seriously about doing it professionally. At the
                            beginning of 2012, I committed myself to that path by going down to half-time at my job,
                            in an irreversible way. I got a friend of mine the gig of doing half my job, and told her
                            &mdash;and only her &mdash;what my ultimate plan was, and that she could have my whole job eventually,
                            if she could stick with the part-time gig for a while. I felt I needed the extra time every
                            week to ramp up my skills, but once I took that step, I was on track to either run out of
                            savings or land a software development gig.</p>
                        <p><b>Abby: </b>Fall of 2016.
                        </p>
                        <br>
                        <p><b>Dave: </b>
                        </p>
                        <br>
                        <p><b>Kavan: </b>
                        </p>
                        <br>
                        <h2>Q: How long did it take you to secure your first coding job, from the time you started
                            looking, to the time that you received an offer that you accepted?</h2>
                        <p><b>Shoaib: </b>So I came from a very non-technical background. After I completed the
                            bootcamp in the summer of 2015, getting a coding job was not even my priority. I was not
                            confident enough to apply for a technical job. I was happy enough being able to make static
                            websites and understand code a little better. However, right after completing the coding
                            bootcamp, I started teaching how to code in a small paid setting. That gave me the
                            experience needed to get hired by <a href="http://www2.cuny.edu/">CUNY</a> in 2016, teaching
                            <a href="https://www1.nyc.gov/site/tlc/about/tlc-rules.page">TLC laws</a>. Meanwhile, I
                            started my Master's in Computer Science in 2016, and graduated in May 2018. After I
                            graduated, I started actively looking for a development job in September 2018, and then
                            finally accepted an offer in December 2018.
                        </p>
                        <p><b>Richard: </b>Six months, although I only applied for a few random things for the first
                            three months, during which time I didn't feel that I was really ready. Once I did feel I
                            was ready, I got more systematic about the job search, and it took me another three months
                            from that point.</p>
                        <p><b>Abby: </b>Around a year.
                        </p>
                        <br>
                        <p><b>Dave: </b>
                        </p>
                        <br>
                        <p><b>Kavan: </b>
                        </p>
                        <br>
                        <h2>Q: What's the most important thing you wish you knew/understood when you first started
                            learning how to code that you know now?</h2>
                        <p><b>Shoaib:</b>If I knew then what I know now, I would have stuck to one tech stack. For
                            example, it's better to study a Javascript-centric stack, and learn everything possible
                            about it &mdash;Javascript as a programing language, JQuery as library, React JS as a
                            framework&mdash;before moving onto something Because of my versatile journey from
                            self-study to a bootcamp to getting my master's in Computer Science, I ended up learning
                            about everything from full-stack development with Ruby on rails, to front-end development
                            using Javascript and JQuery, to Android development using Java, e.t.c. I see now that I
                            didn't have to know all of these languages and tools in order to land to a junior developer
                            position, and it would be more helpful if I knew fewer of them more in depth.
                        </p>
                        <br>
                        <p><b>Richard: </b>
                            <ol>
                                <li>
                                    Git isn't as scary as it seems at first. Whenever you find yourself frustrated trying to
                                    figure out what it's doing, go to
                                    <a href="https://git-man-page-generator.lokaltog.net/">this</a> site. It won't help you
                                    with your immediate issue, but it will make you feel better.
                                </li>
                                <li>
                                    It is very common for people to be unable to imagine themselves as "real programmers". The
                                    lack of ability to make that cognitive leap definitely affected me for years before I got
                                    the confidence to get serious. And I am literally a while male who started coding in the
                                    80s, so you know if someone with all my pre-existing privileges and advantages had a
                                    problem with that, it must be a common issue. Now that I have been getting paid to program
                                    for the past five years, I cannot stress highly enough that there is NO SUCH THING as a
                                    "real programmer". There are only gradations on a continuum of experience levels. Also,
                                    read <a href="https://slate.com/technology/2014/01/programmer-privilege-as-an-asian-male-computer-science-major-everyone-gave-me-the-benefit-of-the-doubt.html">
                                    this</a>. It's a great article about what "real programmers" look like, with a plot twist
                                    in the middle.
                                </li>
                                <li>
                                    Don't be intimidated by the jerks that you meet in this business (and there will be a few).
                                    You can safely ignore them and their advice. The very best programmers are often nice,
                                    humble people. If they didn't know how to listen, they would never have gotten to where
                                    they are.
                                </li>
                            </ol>
                        </p>
                        <br>
                        <p><b>Abby: </b>Success doesn’t happen overnight. When you first start learning how to code,
                            it's frustrating and confusing,  but over time it becomes a  little less frustrating and
                            less confusing. Some days will be easier than others, but as you'll see, veterans who have
                            been in this field for years will have the same questions you have. Coding is always
                            evolving, maintain an open mind, keep learning, and be kind to yourself.
                        </p>
                        <br>
                        <p><b>Dave: </b>
                        </p>
                        <br>
                        <p><b>Kavan: </b></p>
                        <br>
                        <h2>Q: What advice would you give to someone who is considering transitioning into
                            development?</h2>
                        <p><b>Shoaib: </b>Done is better than perfect.
                        </p>
                        <br
                        <p><b>Richard: </b>
                            <ol>
                                <li>Give yourself a solid foundation in computer science and programming basics. Take
                                    classes like
                                    <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x">this one</a>,
                                    and when you get some programming under your belt, take classes like
                                    <a href="https://www.coursera.org/learn/programming-languages">this</a>.
                                </li>
                                <li>Don't worry too much about the framework of the moment, or even the programming
                                    language of the moment (although you do have to learn at least one programming
                                    language well to get started!). You will have to constantly learn so many details
                                    about frameworks and systems every day on this job, that the permanent things you
                                    want to store in your brain are the fundamental concepts &mdash;all the other stuff
                                    will end up being crowded out and replaced by similar but different arcane minutiae
                                    on your next project anyway.
                                </li>
                                <li>Create projects that solve actual problems in your life, which gives you a feeling
                                    for what programming can do. For instance, I created an attendance website for my
                                    soccer team, because all of the existing solutions at the time either didn't do
                                    what we needed, or came with too many annoying bells and whistles.</li>
                            </ol>
                        </p>
                        <br>
                        <p><b>Abby: </b>It’s not just about coding, but also learning the fundamentals of it all. It's
                            easy to get carried away with shortcuts like ES6,  jQuery or frameworks. You'll take things
                            for granted and never really understand how or why they work under the hood. Take the time
                            to learn the fundamentals so then you'll have the solid foundation to move around from
                            language to language. Dabble in some C++ and you'll see what I mean :).
                        </p>
                        <br>
                        <p><b>Dave: </b>
                        </p>
                        <br>
                        <p><b>Kavan: </b>
                        </p>
                        <br>
                        <h2>Q: Any additional thoughts about your transition into development?</h2>
                        <p><b>Shoaib: </b> You can get there by envisioning yourself as already being there.
                            Our brain can barely distinguish what's really happening and what's just happening in our
                            head. That's why we get scared when we watch a horror movie, even though we know we just
                            paid to see what we know is fake. See yourself hired and successful, and you will be.
                        </p>
                        <br>
                        <p><b>Richard: </b>While you're in the initial learning phases, make sure to work on projects
                            you enjoy, not just ones you think you should work on in preparation for some future job!
                        </p>
                        <br>
                        <p><b>Abby: </b>Coding is only the beginning. Learn computer science fundamentals. Be nice to
                            yourself. Everything takes time. Self doubt is real. Power through those moments and don't
                            give up! You can do it and remember to study study study and practice practice practice!
                        </p>
                        <br>
                        <p><b>Dave: </b>
                        </p>
                        <br>
                        <p><b>Kavan: </b>
                        </p>
                        <br>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
