{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="entity_wrapper">

                    <!--Div for blog title-->
                    <div class="entity_title">
                        <h1>Novice Newcommer to Professional Programmer</h1>
                    </div>

                    <!--Div for blog date-->
                    <div class="entity_meta">
                        9Feb- 2019
                    </div>

                    <!--Div for blog image(s)-->
                    <div class="row">
                        <div class="column">
                            <img class="img-responsive"
                                 src="static/img/flask-python.png"
                                 alt="Python flask"
                                 width="50%"
                                 style="float: left; display:block; margin-left: auto; margin-right: auto;">
                        </div>
                        <div class="column">
                            <img class="img-responsive"
                                 src="static/img/aws_eb.png"
                                 alt="AWS Elastic Beanstalk"
                                 width="50%"
                                 style="float: right; display:block; margin-left: auto; margin-right: auto;">
                        </div>
                    </div>

                    <!--Div for all blog content/copy-->
                    <div style="text-align: justify;">
                    <!--Intro paragraph-->
                        <p>
                            I am a self taught software engineer. By that, I mean I don't have a degree in
                            computer science or anything close to it, and I learned how to code without any formal
                            education. As such, the most common question that I get in my professional career is:
                            'How did you do it? How did you transition from a completely non-technical role, into a
                            full-time software engineering role?'
                        </p>
                        <p>
                            I get this question so often that it occurred to me that there's likely a lot of demand for
                            information about how people can make the transition into such a sought-after role when
                            they don't have any formal training in it. So, I posed this very question (and a few
                            others) to a few self-taught engineers who I know, and I share their responses here for
                            the curious observer.
                        </p>

                        <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Abby</th>
                                <th>Dave</th>
                                <th>Shoaib</th>
                                <th>Richard</th>
                                <th>Kavan</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Where do you currently <br>work, and what is your <br>role/function?</td>
                                <td></td>
                                <td></td>
                                  <td>Engineering Manager<br><a href="https://www.wiley.com/en-us">Wiley Publishing</a></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>What inspired you to <br>learn how to code?</td>
                                <td></td>
                                <td></td>
                                <td>In 2014, I had a side business making <br>
                                    low-cost websites for small businesses. <br>
                                    Surprisingly, I was getting plenty of <br>
                                    jobs. Since I wasn't a developer, ose jobs overseas to some of <br>
                                    the developers I knew. One of my projects <br>
                                    failed miserably because the developer was <br>
                                    BSing me that ''ohh this part of the site <br>
                                    takes 3 months to make...". I was not a <br>
                                    programmer therefore, could not verify whether <br>
                                    the job really takes that long as he was <br>
                                    claiming. Ultimately that project failed, <br>
                                    I had to return all the money to that client. <br>
                                    The fact that I don't know enough to control <br>
                                    a technical person angered me and I decided <br>
                                    to start learning how to code myself, so <br>
                                    that I can have a better control next time. </td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>How did you learn how <br>to code?</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>When did you start <br>learning how to code?</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>How long did it take <br>you to secure your first <br>coding job, from the <br>
                                    time you started looking, <br>to the time that you <br>received an offer that
                                    <br>you accepted?</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>What's the most <br>important thing you <br>wish you knew/understood <br>when you
                                    first started <br>learning how to code that <br>you know now?</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>What advice would you <br>give to someone who is <br>considering transitioning <br>
                                    into development?</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Is there anything else <br>that you'd like to share <br>about your transition <br>
                                    into development?</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>

                        </div>

                        <br>
            </div>

        </div>

    </div>

</section>

{% endblock %}
