{% extends "bloglayout.html" %}
{% block content %}
<section id="entity_section" class="entity_section">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="entity_wrapper">

                    <!--Div for blog title-->
                    <div class="entity_title">
                        <h1>Novice Newcommer to Professional Programmer</h1>
                    </div>

                    <!--Div for blog date-->
                    <div class="entity_meta">
                        9Feb- 2019
                    </div>
                    <br>
                    <!--Div for blog image(s)-->
                    <div class="row" style="width: 100%; margin:0 auto;">
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Shoaib_Ahamed.jpg"
                                 alt="Headshot Developer Shoaib Ahamed"/>
                            <p>Shoaib Ahamed</p>
                            <p>Manager of Front End Development at <a href="https://www.wiley.com/en-us">Wiley</a></p>
                            <p>"Done is better than perfect"</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Shoaib_Ahamed.jpg"
                                 alt="Headshot Developer Shoaib Ahamed"/>
                            <p>Shoaib Ahamed</p>
                            <p>Manager of Front End Development at <a href="https://www.wiley.com/en-us">Wiley</a></p>
                            <p>"Done is better than perfect"</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Shoaib_Ahamed.jpg"
                                 alt="Headshot Developer Shoaib Ahamed"/>
                            <p>Shoaib Ahamed</p>
                            <p>Manager of Front End Development at <a href="https://www.wiley.com/en-us">Wiley</a></p>
                            <p>"Done is better than perfect"</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Shoaib_Ahamed.jpg"
                                 alt="Headshot Developer Shoaib Ahamed"/>
                            <p>Shoaib Ahamed</p>
                            <p>Manager of Front End Development at <a href="https://www.wiley.com/en-us">Wiley</a></p>
                            <p>"Done is better than perfect"</p>
                        </div>
                        <div class="column" style="width:15%; text-align:center; display:block;
                        background-color: transparent; border: 1px solid transparent; margin-left: 2.5%;
                        margin-right: 2.5%; margin-bottom: 1px; float:left;">
                            <img class="img-responsive"
                                 src="static/img/Shoaib_Ahamed.jpg"
                                 alt="Headshot Developer Shoaib Ahamed"/>
                            <p>Shoaib Ahamed</p>
                            <p>Manager of Front End Development at <a href="https://www.wiley.com/en-us">Wiley</a></p>
                            <p>"Done is better than perfect"</p>
                        </div>
                    </div>

                    <br>
                    <!--Div for all blog content/copy-->
                    <div style="text-align: justify;">
                    <!--Intro paragraph-->
                        <p>
                            I am a 'self taught' software engineer. That is to say: I don't have any formal education
                            in computer science. I received a bachelor's in Business Administration from the University
                            of Michigan in 2008, and then proceeded to teach myself how to code years after I graduated.
                        </p>
                        <p>
                            As a 'self-taught' engineer, I frequently get asked the question: 'How did you do it?
                            How did you just teach yourself how to code, with no formal education, and then get a job
                            doing it full-time?'
                        </p>
                        <p>
                            I get this question so frequently that I posed it to five of my NYC-based self-taught
                            colleagues, in an attempt to provide a more comprehensive resource on how myself and others
                            have successfully made this transition, and what advice they'd give to others who want to
                            do the same. Their responses ranged from moving to downright hilarious. Read on for more
                            information about how five different individuals made this increasingly coveted career
                            move.
                        </p>
                        <br>
                        <p><b>Q: What inspired you to learn how to code?</b></p>
                        <p><b>Shoaib:</b> My initial failure inspired me to code. In short, back in 2014, I had a side
                            business of building websites for small businesses. Since I was not a developer, I was
                            shipping the development work overseas to some developers I knew. One of my projects failed
                            miserably because the developer was BSing me that ''ohh this part of the site takes 3
                            months to make...". I was not a programmer, therefore, could not verify whether the job
                            really took as long as he was claiming. Ultimately the project failed and I had to return
                            all the money to the client. The fact that I didn't't know enough to manage a technical
                            person angered me, and I decided to start learning how to code myself, so that I could have
                            more control over the development process next time. </p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                        <p><b>Q: How did you learn how to code?</b></p>
                        <p><b>Shoaib:</b> I started learning online, first from
                            <a href="https://www.w3schools.com/">w3schools</a>, then
                            <a href="https://www.codecademy.com/">codecademy</a>. I also took part-time evening classes
                            at <a href="https://nycda.com/">New York Code & Design Academy</a>, a comparatively new
                            coding bootcamp.</p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                        <br>
                        <p><b>Q: When did you start learning how to code?</b></p>
                        <p><b>Shoaib:</b> I think I started the coding bootcamp in May 2015</p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                        <br>
                        <p><b>Q: How long did it take you to secure your first coding job, from the time you started
                            looking, to the time that you received an offer that you accepted?</b></p>
                        <p><b>Shoaib: </b>So I came from a very non technical background. After I completed the
                            bootcamp in the summer of 2015, getting a coding job was not even my priority. I was not
                            confident enough to apply for a technical job. I was happy enough being able to make static
                            websites and understand code a little better. However, right after completing the coding
                            bootcamp, I started teaching others how to code in a small paid setting. That gave me the
                            experience needed to get hired by <a href="http://www2.cuny.edu/">CUNY</a> in 2016, teaching
                            <a href="https://www1.nyc.gov/site/tlc/about/tlc-rules.page">TLC laws</a>. Meanwhile, I
                            started my Master's in Computer Science in 2016, and graduated in May 2018. After I
                            graduated, I started actively looking for a development job in September 2018, then
                            finally accepted an offer in December 2018.
                        </p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                        <br>
                        <p><b>Q: What's the most important thing you wish you knew/understood when you first started
                            learning how to code that you know now?</b></p>
                        <p>Shoaib:</p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                        <br>
                        <p><b>Q: What advice would you give to someone who is considering transitioning into
                            development?</b></p>
                        <p>Shoaib:</p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                        <br>
                        <p><b>Q: Any additional thoughts about your transition into development?</b></p>
                        <p>Shoaib:</p>
                        <p>Richard:</p>
                        <p>Abby:</p>
                        <p>Dave:</p>
                        <p>Kavan:</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
